.codeblock {
  background-color: #f2f2f2;
  padding: 20px;
  font-family: Courier;
}

.codeblock__title {
  right: 0;
  position: absolute;
  background-color: #CCC;
  padding: 5px;
  font-size: 10px;
  line-height: 12px;
}
