.featurelist {
  list-style: none;

  li {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  dt {
    position: relative;
    padding-left: 50px;
  }

  dd {
    padding-left: 50px;

    & + dt {
      margin-top: 20px;
    }
  }

  .icon {
    font-size: 2em;
    position: absolute;
    left: 0;
  }
}
