footer, .footer {
  background-color: #f2f2f2;
  padding: 80px 0 120px;

  h3 {
    font-weight: bold;
  }

  ul.uk-list {
    padding-bottom: 20px;

    @media (max-width: $breakpoint-mini-max) {
      a {
        margin: 5px 0;
        display: inline-block;
        font-size: 1.2em;
      }
    }
  }

  @media (max-width: $breakpoint-mini-max) {
    padding: 40px 0 60px;
  }
}

.footer__logo {
  figcaption {
    color: #999999;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
