.algolia-autocomplete__wrap {
  margin-bottom: 30px;
}

.algolia-autocomplete {
  width: 100%;
}

.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
  width: 100%;
  min-height: 30px;
  text-indent: 10px;
  border-radius: 5px;
  border: 1px solid #CCC;
  font-size: 1rem;
  font-family: "Titillium Web",sans-serif;

  &:focus {
    outline: 0;
  }
}

.algolia-autocomplete .aa-hint {
  color: #999;
}

.algolia-autocomplete .aa-dropdown-menu {
  width: 100%;
  background-color: #fff;
  border: 1px solid #CCC;
  margin-top: 5px;
  border-radius: 5px;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 5px 4px;
  border-bottom: 1px solid #CCC;

  &:last-child {
    border-bottom: none;
  }
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #f1f1f1;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}
