.body--floaded {
  font-family: "Titillium Web", sans-serif;

  h1, h2, h3, h4, h5 {
    font-family: "Titillium Web", sans-serif;
  }
}

@media (max-width: $breakpoint-mini-max) {
  body {
    font-size: 13px;
  }
}

html, body {
  height: 100%;
}

.body__content {
  flex: 1 0 auto;
  width: 100%;

  &:after {
    content: '\00a0';
    display: block;
    height: 0px;
    visibility: hidden;
  }
}

.body__wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.footer, .teaser {
  flex: none;
}
