.sidenav {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  & > li {
    padding-bottom: 25px;
  }
}

.sidenav__root {
  text-transform: uppercase;
}

.sidenav__sub {
  text-decoration: underline;
}
