.teaser {
  background: #29abe2; /* Old browsers */
  background: -moz-linear-gradient(45deg, #29abe2 0%, #7ac943 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #29abe2 0%,#7ac943 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #29abe2 0%,#7ac943 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29abe2', endColorstr='#7ac943',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.teaser__top {
  padding: 30px 0 15px 0;
  border-bottom: 1px solid #FFF;
  margin-bottom: 15px;

  a {
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
  }
}

.teaser__nav {
  margin-top: 30px;
  float: left;

  li {
    display: inline-block;
    margin-right: 25px;
  }

  a {
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
  }

  @media (max-width: $breakpoint-small-max) {
    text-align: right;
  }

  @media (max-width: $breakpoint-mini-max) {
    text-align: center;
  }
}

.teaser__nav--right {
  float: right;
}

.teaser__nwrap {
  @media (max-width: $breakpoint-small-max) {
    border-top: 1px solid #FFF;
    margin-top: 10px;
  }
}

.teaser__hero {
  padding: 80px 0 80px 0;

  h1 {
    color: #FFF;
    font-weight: 200;
    font-size: 2.6rem;
    max-width: 500px;
    margin-bottom: 0;
    line-height: 1.2;
  }

  h2 {
    margin-top: 10px;
    color: #FFF;
    font-size: 1.3rem;
  }

  @media (max-width: $breakpoint-mini-max) {
    padding: 40px 0;

    h1 {
      font-size: 2.0rem;
    }
  }
}

.teaser__icons {
  float: right;
  margin-top: 28px;

  li {
    display: inline-block;
    padding-left: 10px;

    @media (max-width: $breakpoint-small-max) {
      padding-left: 20px;
    }
  }

  a {
    color: #FFF;
    font-size: 1.2em;
  }
}
